*{
    padding: 0;
    margin: 0;
    background-color: black;
}
.header{
    display: grid;
    grid-template-columns: 4fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
margin: 20px 50px;

}
.header > div{
    padding: 1em;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
 color: azure;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    background-color: black;
;
}
.right{
    display: grid;
}
