*{
    padding: 0;
    margin: 0;
    background-color: rgba(23, 23, 23, 1);
    box-sizing: border-box;

}
.header{
    display: grid;
    grid-template-columns: 4fr 0.3fr 0.3fr 0.5fr 0.2fr 0.3fr 0.3fr;
margin: 20px 50px;


}
.header > div{
    padding: 1em;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
 color: azure;
    font-weight: 400;
    line-height: 15px;
color: rgba(250, 250, 249, 1);
    text-align: left;

;
}
.right{
    display: grid;
}
#workout{
    font-family: "Inter",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(250, 250, 249, 1);

}
.section-1{
    width: 1255px;

    color: white;
    position: relative;
    margin: 250px 45px 0 140px ;

}
#workoutwithme{
    font-family: "San Francisco", sans-serif;
    font-size: 172px;
    font-weight: 800;
    line-height: 170px;
    letter-spacing: -2px;
    text-align: left;
color: #FAFAF9;
    width: 880px;

}
.btnfontsection1{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: left;
    color: #FFFFFF;
    background-color: #E6533C;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 115px;

}

.textforallsite{
//styleName: body-text;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    width:560px;
    color: #EFEDE8A6;
   background-color: transparent;
}
.LabelforIcons{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: left;
    color: #EFEDE8A6;
    margin-bottom: 35px;
}
.icons-section1{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
#photo{
        position: absolute;
        top: 60px;
        right: 0; /* Указываем правый край контейнера */
        width: 450px; /* Пример ширины изображения */
        height: 100%; /* Заполнение высоты контейнера */
        /*object-fit: cover; !* Позволяет изображению заполнить всю доступную площадь *!*/
    background-color: transparent;
}

.km{
    /*display: flex;*/
    /*flex-direction: column;*/
    width: 180px;
    border-radius: 10px;
    height: 110px;
    background-color: #EF8964;
    position: absolute;
    top: 20px;
    right: 50px;

}
#number1{
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -5px;
    text-align: left;
    background-color: transparent;
    color: #FAFAF9;
}
.spherenumber1{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 95px;
  height: 50px;
    background-color: transparent;
    margin: 8px 60px 15px 26px;
}
#runman{
    margin: 15px 130px 0 25px ;
    background-color: transparent;
}
#letters1{
width: 25px;
    background-color: transparent;
//styleName: h5;
    font-family: "Inter", sans-serif;
    justify-content: center;
    align-content: end;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #EFEDE8A6;
    padding: 25px 0 0 10px;
}
.VideTutorial{
    position: absolute;
    display: flex;

    width: 205px;
    height: 96px;
    top: 60%;
    left: 55%;
    border-radius: 10px;
background-color: rgba(48, 48, 48, 1);


}
#VideoTutorial{
    background-color: transparent;
//styleName: body-text;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    color:  rgba(239, 237, 232, 0.65)
}
.VideoPlay{
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin: 30px 10px 30px 25px;

}
#number2{
    display: flex;
    background-color: transparent;
//styleName: h3;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
flex-direction: column;
margin-bottom: 10px;
}
.smallinfo{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin: 20px 25px 20px 0;
}
.WorkoutVideo{
    position: absolute;
    top: 80%;
    right: 0%;
    width: 195px;
    background-color: rgba(122, 41, 220, 1);
    border-radius: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;

}
.number3{
    background-color: transparent;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
    color: rgba(250, 250, 249, 1);

}
.FreeWorkoutVideos{
    background-color: transparent;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
    color: rgba(239, 237, 232, 0.65);

}
.field{
    background-color: transparent;
    margin: 15px 25px 15px 25px;
}
.AdditionalINfo{
    position: relative;
    width: 100%;
    max-width: 1310px;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
}
#beginning{
//styleName: h2;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
color: rgba(250, 250, 249, 1);
    margin-bottom: 25px;
}
#container1{
 display: flex;
    flex-direction: row;
    gap: 30px;
}
.Smallcontainer{
    position: relative;
    width: 305px;
    height: 190px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.collor1{
    background-color: rgba(50, 52, 67, 1);
}
.collor2{
    background-color: rgba(35, 37, 50, 1);
}
.collor3{
    background-color: rgba(50, 52, 67, 1);
}
.collor4{
    background-color: rgba(79, 82, 97, 1);
}
.Title{
//styleName: h5;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(250, 250, 249, 1);
    background-color: transparent;
    padding-bottom: 10px;
}

.positionforofrsmallcontainer{
    margin: 55px 40px 50px 40px;
    background-color: transparent;
    width: 225px;
    height: 85px;
}
.absolute{
    position: absolute;
   /* width: 20px;*/
   /*height:  25px;*/
    top: 58%;
 right: 7%;
    background-color: transparent;
}